img{
    width: 100%;
    display: block;
}

.content{
    width: 75%;
    margin: 0 auto 30px auto;
}

.narrow-content{
    width: 55%;
    margin: 0 auto 30px auto;
}

.columns {
    -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
}

.caption{
    font-size: 14px;
}

.caption-img{
    width:100%;
    display: inline-block;
}

.caption-img p{
    margin: 0;
}

.img-wrap p{
    margin: 0 0 10px 0;
}

.no-caption-img {
    margin-bottom: 30px;
}

body, html { 
    margin: 0px;
    padding: 0px;
}

body {
    background: #ffffff;
    color: #566b78;
    font-family: Futura, Trebuchet MS, Arial, sans serif;
    line-height: 1.5;
}



.nav-container {
    margin: 0 auto;
}

.img-margin {
    margin-bottom: 20px;
}

.nav-item {
    display: inline-block;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    text-decoration: none;
    color: #222222;
}

h2{
    color: #222222;
}

a{
    color: #e81c4f;
}